/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.carousel-container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;

    margin-top: 50px;

    position: relative;
}

/* Img */
.img-container {
    width: 90%;
    margin: auto;
}

.img-container img {
    width: 100%;
}

/* Arrows */
.arrow {
    cursor: pointer;

    font-size: 40px;
}

/* Circles */
.circles {
    background-color: rgba(0, 0, 0, 0.7);

    padding: 20px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;

    border-radius: 999px;
}


.circle {
    display: inline-block;

    color: white;
    margin: 0 10px;
}

.circle.active {
    color: blue;
}